<article class="w-full px-2 py-4 bg-white border-2 flex flex-col items-start shadow-lg sm:flex-row">
  {#  Event image #}
  {{ content.field_primary_image }}
  <div class="py-4 px-4 sm:py-0">
    <h3 class="text-lg font-bold"> {{ label }}</h3>
    <div class="flex gap-x-4 gap-y-2 items-center flex-wrap">
      {# Event start date & time and end time #}
      <div class="items-center">
        {{ content.field_start_date}} - {{ content.field_end_date }}
      </div>
      {# Event ticket status #}
      {{ tickets_status }}
    </div>
    {# Event text #}
    <p class="mt-4">{{ content.field_description }}</p>

    <a href="{{ url }}" class="text-blue-600 inline-block mt-4 underline hover:underline">Read more ></a>
  </div>
</article>