{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
<input{{ attributes.addClass('bg-blue-500 py-1 px-4 text-white rounded-xl cursor-pointer hover:bg-blue-600') }} />{{ children }}
